//Font size:
$normal: 14px;
$small: 8px;

//Space size
$space: 1em;
$space-half: .5em;
$space-quarter: .25em;

//width / height size
$one-whole: 100%;
$half-whole: 50%;

//border
$border_radius: 4px;

//colors
$weak: #d4d4d4;
$under: #d4d4d4;

$disabled: #d9d9d9;

$main: #b7ffa3;
$alternate: #f9f9f9;

$theme--front: #00BFA5;
$theme--back: #F0F0F0;

